{% extends "base.html" %}

{% block head %}
<title>Doggo Scope</title>
<meta name="description" content="DoggoScope - Point at your dog to see its stats">
{% endblock head %}

{% block body %}
<div class="bg-white rounded-lg shadow-lg p-6 mb-8">
    <div class="border-b-2 border-primary-yellow pb-4 mb-6">
        <h1 class="text-3xl font-bold mb-2">Welcome to DoggoScope!</h1>
        <p class="text-gray-700">Use our advanced computer vision technology to analyze your dog and get instant stats.
        </p>
    </div>

    <div class="flex flex-row gap-6 justify-between flex-wrap">
        <div>
            <form id="upload-form" class="mb-6" method="POST" enctype="multipart/form-data" action="/">
                <label for="dog-image" class="block font-semibold mb-2">Upload an image of your dog:</label>
                <input type="file" id="dog-image" name="dog-image" accept="image/*"
                    class="w-full p-3 border border-gray-300 rounded-md">
                <p class="text-sm text-gray-600 mt-1">Or use your camera to capture your dog in real-time</p>
            </form>

            <div class="bg-yellow-200 p-1 rounded-md text-center">
                <button id="camera-btn"
                    class="bg-accent text-stone-950 font-semibold py-3 px-6 rounded-md hover:bg-accent-hover transition-transform hover:-translate-y-0.5">
                    Activate Camera
                </button>
            </div>
        </div>

        <div>
            {% if filename is defined %}
            <img id="preview-image" src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Dog Preview"
                class="mt-4 rounded-md shadow-md">
            {% else %}
            <img id="preview-image" src="" alt="Dog Preview" class="mt-4 rounded-md shadow-md">

            {% endif %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/upload.js') }}">

</script>
{% endblock body %}